@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:wght@200;400;700&display=swap');

*, :root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  background-color: #0F172A;
  color: #323232;
}

main {
  max-width: 640px;
  padding: 20px;
  margin: 0 auto 64px;
}

header {
  margin: 64px 0 0 0;
  padding: 0 0 24px 0;
  border-bottom: 1px solid #334155;
}

header h1 {
  margin: 24px 0 0 0;
  font-size: 30px;
  color: #f1f5f9;
}

#quiz {
  counter-reset: quiz-item;
}

.quiz-item {
  margin: 24px 0 0 0;
  border: 2px solid #475569;
  border-radius: 6px;

  overflow: hidden;
}

.quiz-item h2 {
  padding: 16px 20px;
  color: #e2e8f0;

  display: flex;
  align-items: center;
  gap: 12px;

  background-color: #1e293B;
}

.quiz-item h2:before {
  counter-increment: quiz-item;
  content: counter(quiz-item);
  background-color: #475569;
  width: 34px;
  height: 34px;
  font-size: 12px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.quiz-item dl {
  padding: 20px 24px;
  display: grid;
  gap: 12px;
}

.quiz-item dl dt {
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #e2e8f0;
}

.quiz-item input {
  all: unset;
  border: 2px solid #94a3b8;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.quiz-item input:checked {
  border: 2px solid #f1f1f1;
}

input:checked:before {
  content: "";
  width: 10px;
  height: 10px;

  background-color: #24C6DC;
  border-radius: 50%;
}

footer {
  color: #fff;
  width: 100%;
  background-image: linear-gradient(to right, #24C6DC, #514A9D);
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
}

body::-webkit-scrollbar {
  width: 8px;
  
}

body::-webkit-scrollbar-track {
  background: #1e293B;
}

body::-webkit-scrollbar-thumb {
  background-color: #e2e8f0;
  border-radius: 20px;
}